<ion-view title="Around the Hotel">
  <ion-content>



  	<h3 style = "text-align:center; padding-top:15px;">Convenience & ATMs </h3>
	<img ng-src="img/around_hotel.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h3 style = "text-align:center"> Restaurants </h3>
		<img ng-src="img/Restaurants.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h3 style = "text-align:center"> Getting Around </h3>
		<img ng-src="img/PhilMap.png" width="100%" alt=""/><br>
		<img ng-src="img/transportation_fix.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h3 style = "text-align:center"> Philly Sights </h3>
		<img ng-src="img/Landmarks.png" width="100%" alt=""/>
		<img ng-src="img/Landmarks2.png" width="100%" alt=""/>
  </ion-content>
</ion-view>

