<ion-view title="Around the Hotel">
  <ion-content>
  	<h1> On the Go </h1>
	<img ng-src="img/AroundHotel.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h2> Restaurants </h2>
		<img ng-src="img/Restaurants.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h3> Around Philadelphia </h3>
		<img ng-src="img/PhilMap.png" width="100%" alt=""/>
		<img ng-src="img/SeptaMap.png" width="100%" alt=""/>
	<tbody>       </tbody>
	<h4> Philadelphia Sights </h4>
		<img ng-src="img/Landmarks.png" width="100%" alt=""/>
		<img ng-src="img/Landmarks2.png" width="100%" alt=""/>
  </ion-content>
</ion-view>

