<ion-view title="Penn Tours">
  <ion-content>

  <div style= "padding:5px">
<img ng-src="img/penntours1.png" width="100%" alt=""/><br>

<b>Guided Tours of Penn's campus<br>Friday morning: 9:00AM</b><br><br>
<img ng-src="img/penntours2.png" width="40%" alt="" style = "float: right; margin-left:5px; clear:both"/><p style = "margin-right:0px; overflow:auto; display:block">
Hurrah for the Red and the Blue!
Interested in learning more about the University of Pennsylvania? ILMUNC is proud to offer free, guided tours of our campus, conducted by the University of Pennsylvania’s Kite and Key society.
</p></div>
  </ion-content>
</ion-view>