<ion-view title="Quick Reference">
  <ion-content>
 <pre>
Quick Reference
*Requires simple majority (half of committee)
**Requires two-thirds majority

1) Starting Debate
Motion to Open Debate*
	Opens debate for the general committee

Motion to Open a Speaker’s List* (must include time per speaker)
	Opens a general speaker’s list, but the topic of the speaker’s list should be indicated. Usually, a 
		speaker’s list is opened to set the agenda, and then another is opened to discuss the chosen topic.

Motion to Set the Agenda to Topic A/B*
	Begins a vote on setting the agenda to one of two topics in committee. The topic that is voted with a simple majority will be the first to be discussed. 

2) During Debate
Motion for a Moderated Caucus* (must include total time, time/speaker, and topic)
	Opens a moderated caucus on the given topic with a given total time and time per speaker. This type of caucus is a rapid-fire form of debate on a more specific facet of the general topic.

Motion for an Unmoderated Caucus* (must include total time)
	Opens an unmoderated caucus with a given total time. This type of caucus is free time within committee to move around, speak to other delegates, and form blocs.

Motion to Introduce Working Paper/Resolution* 
	Begins vote to introduce working papers or resolutions on the floor.

3) Voting Procedure
Motion to Move into Voting Procedure*
	Begins vote to move into voting procedure on given resolutions. Two for and two against this motion must speak before voting.

Motion to Reorder Resolutions to…**
	Begins vote to reorder the resolutions from their current order to a new, specified one. Necessitates two speakers for and two against before voting.

Motion to Table a Resolution*
	Begins vote to completely strike a resolution. Necessitates two speakers for and two against.

Motion to Divide the Question*
	Begins vote to divide the specified resolution into multiple sections as defined by the delegate who gives the motion. Necessitates two speakers for and two against.

4) Ending Debate
Motion to Move Out of Voting Procedure*
	Begins vote to move out of voting procedure and back into debate.

Motion to Suspend Debate*
	Begins vote to suspend debate until the next committee session.

Motion to Close Debate*
	Begins motion to close debate on the topic.
</pre>
 
  </ion-content>
</ion-view>