<ion-view title="Quick Reference">
  <ion-content>
  <div style= "padding:5px">
<h2 style="text-align:center">Parli Pro 101</h2>

<p>

*Requires simple majority (half of committee)<br>
**Requires two-thirds majority</p>

<p>

<h3>1) Starting Debate</h3><br>
<b>Motion to Open Debate*</b><br>
	Opens debate for the general committee<br><br>

<b>Motion to Open a Speaker’s List* (must include time per speaker)</b><br>
	Opens a general speaker’s list, but the topic of the speaker’s list should be indicated. Usually, a
		speaker’s list is opened to set the agenda, and then another is opened to discuss the chosen topic.<br><br>

<b>Motion to Set the Agenda to Topic A/B*</b><br>
	Begins a vote on setting the agenda to one of two topics in committee. The topic that is voted with a simple majority will be the first to be discussed.<br><br>

<h3>2) During Debate</h3><br>
<b>Motion for a Moderated Caucus* (must include total time, time/speaker, and topic)</b><br>
	Opens a moderated caucus on the given topic with a given total time and time per speaker. This type of caucus is a rapid-fire form of debate on a more specific facet of the general topic.<br><br>

<b>Motion for an Unmoderated Caucus* (must include total time)</b><br>
	Opens an unmoderated caucus with a given total time. This type of caucus is free time within committee to move around, speak to other delegates, and form blocs.<br><br>

<b>Motion to Introduce Working Paper/Resolution*</b><br>
	Begins vote to introduce working papers or resolutions on the floor.<br><br>

<h3>3) Voting Procedure</h3><br>
<b>Motion to Move into Voting Procedure*</b><br>
	Begins vote to move into voting procedure on given resolutions. Two for and two against this motion must speak before voting.<br><br>

<b>Motion to Reorder Resolutions to…**</b><br>
	Begins vote to reorder the resolutions from their current order to a new, specified one. Necessitates two speakers for and two against before voting.<br><br>

<b>Motion to Table a Resolution*</b><br>
	Begins vote to completely strike a resolution. Necessitates two speakers for and two against.<br><br>

<b>Motion to Divide the Question*</b><br>
	Begins vote to divide the specified resolution into multiple sections as defined by the delegate who gives the motion. Necessitates two speakers for and two against.<br><br>

<b>4) Ending Debate</b><br>
<b>Motion to Move Out of Voting Procedure*</b><br>
	Begins vote to move out of voting procedure and back into debate.<br><br>

<b>Motion to Suspend Debate*</b><br>
	Begins vote to suspend debate until the next committee session.<br><br>

<b>Motion to Close Debate*</b><br>
	Begins motion to close debate on the topic.<br><br>
</p>
 </div>
  </ion-content>
</ion-view>