<ion-view title="Social Events">
  <ion-content>



<div>

<img ng-src="img/delfest_3.png" width="100%" alt=""/>

<div style= "padding-left:5px; padding-right:5px; ">
	<h3>Delegate Fest</h3>

</div><div style= "padding-left:5px; padding-right:5px;  ">
<p><b>Friday Night, 11:00PM<br>
Liberty Ballroom A & B</b></p><p>
Come relax after a long day of debate at Delegate Fest!
What to expect:<br>
   <ul style = "padding-left: 5px">
  <li>- Live band</li>
  <li>- Photobooth</li>
  <li>- Tons of delicious food and drinks</li>
  <li>- Fun Activities and games</li>
  <li>- Raffle</li>
</ul>




</p>
</div><div>
<img ng-src="img/deldance.png" width="100%" alt=""/>
</div><div style= "padding-left:5px; padding-right:5px; ">
<h3>Delegate Dance</h3>
<p><b>Saturday night, 9:00PM<br>
Liberty Ballroom A & B</b><br><br>
You competed with the best. Now come party with the best. With a professional DJ laying down this season's hottest beats, prepare yourselves for an unforgettable evening!</p>


<br>
<p><b>Remember to bring your ILMUNC badge to all events. You will be denied entry without an ILMUNC badge. </b></p></div>

</div>
  </ion-content>
</ion-view>