<ion-view title="Social Events">
  <ion-content>
  		<img ng-src="img/logo.png" width="100%" alt=""/>
		<pre> 
Social Events

Remember to bring your ILMUNC badge to all events. You will be denied entry without an ILMUNC badge. 

Delegate Fest
Friday Night, 11:00PM
Liberty Ballroom A & B
Come relax after a long day of debate at Delegate Fest! 
What to expect:
    Live band
    Tons of delicious food and drinks
	Photo Booth
	Fun activities and games!
	Raffle

Delegate Dance
Saturday night, 9:00PM
Liberty Ballroom A & B
You competed with the best. Now come party with the best. With a professional DJ laying down this season's hottest beats, prepare yourselves for an unforgettable evening!
</pre>
  </ion-content>
</ion-view>