<ion-view title="Conference">
  <ion-content>
      <ion-list>
    	<ion-item href="#/tab/social_events">Social Events</ion-item>
    	<!--<ion-item href="#" onclick="window.open(encodeURI('http://ilmunc.com/merch.php'), '_blank', 'location=no');">Merchandise</ion-item>-->
    	<ion-item href="#/tab/penn_tours">Penn Tours</ion-item>
    	<ion-item href="#/tab/quick_reference">Parli Pro Quick Reference</ion-item>
    	<ion-item href="#/tab/around_hotel">Around the Hotel</ion-item>
    </ion-list>
  </ion-content>
</ion-view>