<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


   <!-- Friends Tab -->
  <ion-tab title="Updates" icon="icon ion-social-twitter" href="#/tab/updates">
    <ion-nav-view name="tab-updates"></ion-nav-view>
  </ion-tab>


 <!-- Dashboard Tab -->
  <ion-tab title="Schedule" icon="icon ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Conference" icon="icon ion-ios7-people" href="#/tab/conference">
    <ion-nav-view name="tab-conference"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Maps" icon="icon ion-map" href="#/tab/maps">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>


</ion-tabs>
